apiVersion: v1
kind: ConfigMap
metadata:
  name: ecommerce-config
  namespace: ecommerce
data:
  PRODUCT_SERVICE_URL: http://product-service:3002
  CART_SERVICE_URL: http://cart-service:3003
  ORDER_SERVICE_URL: http://order-service:3004